@import '../../../utils/base.scss';

.input {
  width: 50%;

  padding: 1.5rem;
  border-radius: 0.5rem;
  font-size: 1.8rem;

  border: none;
  box-shadow: 0px 10px 40px -10px rgba(0, 64, 128, 20%);

  @media only screen and (max-width: 719px) {
    & {
      width: 80%;
    }
  }
}
