@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  background: url('./assets/background.png') no-repeat center center;
  background-size: cover;
  overflow: overlay;
}

* {
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}
